* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f9fafc;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    flex-grow: 1;
}

 /* Header */
header {
    background: linear-gradient(to right, #01ced1, #00d0f6, #1e3dff);
    color: #fff;
    height: 7%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 /* Top Left corner */
.logo {
    width: 20%;
    display: flex;
    gap: 0.8rem;
    margin-left: 1rem;
}
.logo-icon {
    font-size: 2rem;
}
.logo-text {
    font-size: 1.5rem;
    align-content: center;
}

/* Top Right corner */
.top-right {
    display: flex;
    margin-right: 1rem;
    gap: 1.5rem;
}
.nav-text, .nav-icon {
    font-size: 1rem;
    align-content: center;
    color: white;
    text-decoration: none;
}

/* Main Content */

.heading {
    padding-top: 2rem;
    height: 16vh;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.heading-container h1 {
    font-weight: normal;
}
.heading-container {
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}
.heading-info {
    font-size: 0.9rem;
    color: rgb(144, 141, 141);
}

 /* Nav2 */
 .nav2 {
    margin-top: 1rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box {
    display: flex;
    margin-left: 2.5rem;
    width: 30%;
    height: 2rem;
    border-radius: 5px;
    border: 0.5px solid rgb(189, 182, 182);
}
.search-icon {
    background-color: white;
    height: 2rem;
    width: 2rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input-box {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* width: stretch; */
    flex-grow: 1;
    height: 2rem;
}
#input-box {
    outline: none;
}

.nav2-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    gap: 1rem;
}
/* .sort-icon {
    height: 2rem;
    width: 2rem;
    border: none;
    background: none;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
} */
.nav2-select {
    background-color: #d9d9d9;
    height: 2rem;
    border: none;
    border-radius: 5px;
    padding: 0.4rem;
}
.nav2-select {
    cursor: pointer;
}
.nav2-select::-webkit-scrollbar {
    display: none;
}
.nav2-select {
    outline: none;
}

/* Pagination Top */
.pagination-top {
    font-size: 1rem;
    margin-left: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.page-select {
    width: 4rem;
    height: 1.8rem;
}

/* List of Colleges */
.clg-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    height: stretch;
    gap: 1.3rem;
}
.clg-box {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    color: black;
    height: 16rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.clg-layer1, .clg-last-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;
}
.clg-name {
    font-size: 1.3rem;
}
.clg-level-box {
    height: 2.7rem;
    width: 7.3rem;
    background-color: #ffe1e1;
    border-radius: 1.7rem;
    text-align: center;
    align-content: center;
}

.clg-level {
    font-size: 0.9rem;
    color: red;
}
.clg-degree, .one-liner {
    height: 3rem;
    font-size: 0.9rem;
    color: rgb(124, 123, 123);
    align-content: center;
}
.clg-layer2 {
    height: 3rem;
    width: 40rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    font-size: 0.9rem;
    color: rgb(124, 123, 123);
}
.state-box, .deadline-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}
.clg-last-layer {
    font-size: 0.9rem;
    color: rgb(124, 123, 123);
}
.clg-details {
    color: #01ced1;
    text-decoration: none;
}
.clg-details:hover {
    color: #1e3dff;
}

/* Pagination Bottom */
.pagination-bottom {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.page-numbers-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-bottom button {
    height: 2rem;
    border: none;
    background: none;
    cursor: pointer;    
}
.page-numbers-container button {
    width: 2rem;
    align-content: center;
}
.page-numbers-container button.active {
    background-color: #d9d9d9;
    border: none;
    cursor: pointer;
    text-align: center;
}

/* Footer */
footer {
    width: 100vw;
    height: 3rem;
    background: linear-gradient(to right, #0a2945, #162e6d);
    color: white;
    align-content: center;
    text-align: center;
}


/*  Responsive design code */
@media (max-width: 480px) { /* Mobile (Portrait) */
    header {
        height: 5%;
        flex-direction: start;
        /* gap: 3rem; */
    }
    .logo {
        width: 50%;
        gap: 0.5rem;
    }
    .logo-icon {
        font-size: 1.2rem;
    }
    .logo-text {
        font-size: 1rem;
    }
    .nav-text {
        display: none;
    }
    .top-right {
        /* margin-right: 50%; */
        gap: 0.8rem;
    }

    .heading {
        padding-top: 1.2rem;
    }
    .heading-container {
        margin-left: 1rem;
    }
    .heading-title {
        font-size: 0.8rem;
    }
    .heading-info {
        font-size: 0.8rem;
    }
    .nav2 {
        margin-top: 0.5rem;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin: 0 1rem;
    }
    .search-box {
        width: 100%;
        flex-grow: 1;
        margin-left: 0;
    }
    .nav2-right {
        width: 100%;
        gap: 1.4rem;
    }

    .pagination-top {
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }

    .clg-list {
        height: auto;
        margin-top: 2rem;
    }
    .clg-box {
        width: 70%;
        height: 43%;
        padding: 1.5rem;
    }
    .clg-layer1 {
        justify-content: space-between;
    }
    .clg-name {
        font-size: 1rem;
        width: 20%;
    }
    .clg-degree {
        height: 2.5rem;
    }
    .clg-layer2 {
        gap: 1rem;
    }
    .clg-last-layer {
        width: 100%;
        gap: 0.3rem;
    }
    .last-updated {
        width: 40%;
    }

    .pagination-bottom {
        margin-bottom: 1rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) { /* Mobile (Landscape) and small tablets */
    * {
        max-width: 100%;
    }
    header {
        height: 6%;
    }
    .logo {
        width: 40%;
        align-items: center;
        gap: 0.5rem;
        margin-left: 0.6rem;
    }
    .logo-icon {
        font-size: 1.5rem;
    }
    .logo-text {
        font-size: 1.2rem;
    }
    .top-right {
        gap: 0.8rem;
        margin-left: 0.5rem;
    }
    .top-right-element {
        display: flex;
        gap: 0.2rem;
    }
    .nav-icon, .nav-text {
        font-size: 0.8rem;
    }

    .heading-container {
        margin-left: 1rem;
    }
    .nav2 {
        padding-top: 1rem;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin: 0 1rem;
    }
    .search-box {
        width: 100%;
        flex-grow: 1;
        margin-left: 0;
    }
    .nav2-right {
        width: 100%;
        gap: 1.4rem;
    }
    .clg-list {
        height: auto;
        max-width: 100%;
        margin-top: 2rem;
    }
    .clg-box {
        width: 80%;
        height: 43%;
        padding: 1.5rem;
    }
    .clg-layer1 {
        width: 100%;
        justify-content: space-between;
    }
    .clg-name {
        font-size: 1rem;
        width: 20%;
    }
    .clg-degree {
        height: 2.5rem;
    }
    .clg-layer2 {
        gap: 1rem;
    }
    .clg-last-layer {
        width: 100%;
        gap: 0.3rem;
    }
    .last-updated {
        width: 40%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) { /* Medium [Tablets and small laptops] */
    .logo {
        width: 50%;
    }
    .nav2 {
        justify-content: space-evenly;
        gap: 1rem;
    }
    .search-box {
        flex-grow: 1;
    }
    .clg-box {
        height: 14rem;
    }
    .pagination-bottom button{
        font-size: 1rem;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) { /* Laptops and Desktops */
    .logo {
        width: 50%;
    }
    .nav2 {
        margin: 0;
        justify-content: space-evenly;
        gap: 1rem;
    }
    .search-box {
        flex-grow: 1;
    }
    .clg-box {
        height: 14rem;
        font-size: 0.9rem;
        padding: 1.5rem;
    }
    .clg-name {
        font-size: 1.5rem;
    }
}

@media (min-width: 1441px) {
    header {
        height: 7%;
    }
    .logo {
        width: 50%;
    }
    .logo-icon {
        font-size: 2rem;
    }
    .logo-text {
        font-size: 1.7rem;
    }
    .nav-icon, .nav-text {
        font-size: 1.3rem;
    }
    .top-right {
        gap: 2rem;
    }
    .heading-title, .heading-info {
        font-size: 1rem;
    }

    .nav2 {
        margin-top: 1rem;
        gap: 3rem;
    }
    .search-box {
        width: 100%;
        height: 3rem;
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    #input-box, .nav2-select {
        height: 3rem;
        font-size: 1rem;
    }

    .clg-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2.5rem;
    }
    .clg-box {
        width: 40%;
    }
    .clg-name {
        font-size: 1.5rem;
    }
    .clg-level-box {
        height: 3rem;
        width: 10rem;
    }
    .clg-level, .clg-degree, .one-liner, .clg-layer2, .clg-last-layer {
        font-size: 1.2rem;
    }
}